.form-container{
	border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
    width: 34em;
    background: #f0f0f0;
    margin-top: 100px;
}

.content{
	padding-bottom: 4em !important;
    background-color: #fff;
    padding: 4em 5em;
}

.form-control{
	border-radius: 3px;
    border: 1px solid #eaeaea;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40px;
    width: 100%;
    padding: 10px;
}

.alert{
    margin-top: 30px;
    animation: FadeAnimation 7s ease-in .2s forwards;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #30A54A;
    color: #fff;
    margin-bottom: 1rem;
    border: 1px solid #30A54A;
    max-width: 180px;
}

.submit-docs{
    margin-bottom: 1rem;
    margin-left: 14em;
}

.submit-btn{
    float: right;
}

.progress{
    height: 8px;
    margin-bottom: 1rem;
}

.upload-doc-div{
    display: block;
}
